<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <a [routerLink]="['/MovieComponent']" routerLinkActive="router-link-active">
                <img class="ajustarTamanio" src="./assets/img/7.png">
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/MovieComponent']" routerLinkActive="router-link-active">
                <img class="ajustarTamanio " src="./assets/img/ReturnOfTheJediPoster1983.jpg">
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/MovieComponent']" routerLinkActive="router-link-active">
                <img class="ajustarTamanio " src="./assets/img/The Empire Strikes Back1.png">
            </a>
        </div>
    </div>
</div>

