<div class="logo">
    <img src="assets/img/1200px.png" alt="">
</div>
<div class="column">
    <div>
        <p>The Force Awokons</p>
        <img src="assets/7.png" alt="">
    </div>

    <div class="column">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem</p>
    </div>

    <div class="column">
        <p>Director: J. J. Abrome</p>
        <p>Productor: Kheny Khan</p>
        <p>Release date: 2015-5-12</p>
        <table>
            <tr>
                <td>
                    <button>Character</button>
                </td>
                <td>
                    <button>Vehicles</button>
                </td>
        </tr>
        <tr>
                <td>
                    <button>Planet</button>
                </td>
                <td>
                    <button>Services</button>
                </td>
            </tr>
        <tr>
        <td colspan="2">
            <button>StartShips</button>
        </td>
    </tr>
        </table>
    </div>

</div>
